<!DOCTYPE html>
<html>
    <head>
        <title> Creacion Bancos </title>
    </head>
    <body>
        <h1> Cree su banco de preguntas </h1>
        <form method="POST" action="{% url 'crearBanco' %}"> {% csrf_token %} 
            <p> Nombre del banco: <input type="text" name="Banco"/></p>
            <p> Id del Banco: <input type="text" name="idBanco"/></p>
            <p> Curso al que pertenece: <input type="text" name="curso"/></p>
            <input type="submit" value="Crear" name="CrearU"/>
            <a action="{% url 'crearBanco' %}">
                <input type="submit" value="Guardar y añadir otro" name="CrearV"/>
            </a>
        </form>
    </body>
</html>