{% extends 'layout.html' %}
{% block content %}
<!DOCTYPE html>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<html>

    <h1>CREA TUS EXÁMENES</h1>

   <form method="POST" action="{%url 'crearExamen'%} ">
        {% csrf_token %}
        <p> Banco con el que vas a hacer el examen: <input type="text" name="Banco_examen"/></p>
        <p> ¿Cuántas preguntas desea hacer?: <input type="number" name="cantPreguntas"/></p>
        <input type="hidden" name="grupoid" value="{{data.idgrupo}}" />
        <button type="submit" onclick="return confirm('¿Seguro que vas a crear examen para este grupo en el banco que ingresaste?');" class="submit-delete">Crear Examen</button>

    </form>

</html>
{% endblock %}