<!DOCTYPE html>
<html>
    <head>
        <title> Creacion grupos </title>
    </head>
    <body>
        <form  method="POST" action="{% url 'crearGrupo' %}"> {% csrf_token %}
            <p> Nombre del grupo: <input type="text" name="Grupo"/></p>
            <p> Id del grupo: <input type="text" name="idGrupo"/></p>
            <input type="submit" value="Crear" name="CrearG"/>
            <a action="{% url 'crearGrupo' %}">
                <input type="button" value="Guardar y añadir otro"/>
            </a>
        </form>
    </body>
</html>