<!DOCTYPE html>
<html>
    <head>
        <title> Creacion cursos </title>
    </head>
    <body>
        <h1> ¡Bienvenido, docente! </h1>
        <form  method="POST" action="{% url 'crearCurso' %}"> {% csrf_token %} 
            <p> Nombre del curso: <input type="text" name="Curso"/></p>
            <p> Id del curso: <input type="text" name="idCurso"/></p>
            <input type="submit" value="Crear"/>
            <a href="/crearCurso/">
                <input type="button" value="Guardar y añadir otro"/>
            </a>
        </form>
    </body>
</html>