<!-- Lista de estudiantes de un grupo -->
{%  block content %}

    <h1>Estudiantes:</h1>
   
{% for estudiante in data.estudiante_lista %}
 <ul>
 
<b>Nombre:</b> {{estudiante.nombre_estudiante}}  <b>DNI:</b>{{estudiante.id_estudiante}}
</ul>
{% endfor %}

<h1> Estudiante a crear </h1>
        <form method="POST" action="{%url 'crearEstudiante'%}"> {% csrf_token %}
            <div class="form-group">
                <p> Nombre del Estudiante: <input type="text" name="Estudiante"/></p>
                <p> Identificacion del Estudiante: <input type="text" name="Estudiante_ID"/></p>
                <input type="hidden" name="Grupoid" value="{{data.Grupoid}}" />
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </form>
          <form method="POST" action="{%url 'deletegrupo'%} ">
            {% csrf_token %}
            <input type="hidden" name="Grupoidborrar" value="{{data.Grupoid}}" />
            <button type="submit" onclick="return confirm('¿Estas seguro que quieres eliminar el grupo?');" class="submit-delete">Borrar Grupo al que pertenece</button>
        </form>
        <form method="POST" action="{%url 'deleteestudiante'%} ">
            {% csrf_token %}
            <input type="hidden" name="Grupo" value="{{data.Grupoid}}" />
            <p> Identificacion del Estudiante a borrar: <input type="text" name="Estudiante_ID_borrar"/></p>
            <button type="submit" onclick="return confirm('¿Estas seguro que quieres eliminar el estudiante?');" class="submit-delete">Borrar estudiante</button>            
        </form>
        <h3> <a href="/grupos/{{data.CursoId}}"> <b>Volver al grupo </b>  </p> </a> </h3>
        <h3> <a href="/cursos/"> <b>Volver al curso </b>  </p> </a> </h3>
{% endblock %}