<!-- Lista de plantillas de un banco -->
<!DOCTYPE html>
<html>
    <body>
        <h1> Selecciona la plantilla a la que quieres accecer</h1>
            {% for plant in data.plant_lista %}
               <h3> <a href="/variacion/{{plant.dni}}"> <b>Plantilla: </b> Id: {{plant.dni}}  <br>  Enunciado {{plant.enunciado}}</p> </a> </h3>
             {% endfor %}
        
        <h1> Plantilla a crear </h1>
        <form  method="POST" action="{% url 'crearPlantilla' %}"> {% csrf_token %} 
    <div class="form-group">
        <p>Código de la plantilla:<input type="text" id="id_plant" name="id_plant"></p>
        <p>Enunciado (en la parte que desea que se genere automaticamente debe ingresar ///):<input type="text" id="enunciado" name="enunciado"></p>
        <input type="hidden" name="bancoid" value="{{data.banco}}" />
        <input type="submit" name="CrearU" value="Crear">
        <input type="submit" name="CrearV" value="Crear y añadir otra">
    </div>
</form>
<form method="POST" action="{%url 'deletebanco'%} ">
    {% csrf_token %}
    <input type="hidden" name="bancoid" value="{{data.banco}}" />
    <button type="submit" onclick="return confirm('¿Estas seguro que quieres eliminar el curso?');" class="submit-delete">Borrar Banco al que pertenece</button>
</form>
    </body>
</html>