<!DOCTYPE html>
<html>
    <head>
        <title> Selección grupo </title>
    </head>
    <body>
        <h1> Selecciona el grupo al que quieres acceder </h1>
            {% for Grupo in grupo_lista %}
               <h3> <a href="/estudiantes/"> <b>Grupo: </b> {{Grupo.nombre}} {{Grupo.dni}} </p> </a> </h3>
             {% endfor %}
        </form>
        <h1> Elige de que grupo quieres ver los estudiantes </h1>
            {% for Grupo in grupo_lista %}
               <h3> <a href="/estudiantes/"> <b>Grupo: </b> {{Grupo.nombre}} {{Grupo.dni}} </p> </a> </h3>
            {% endfor %}
        <h1> Elige a que grupo le quieres crear examenes </h1>
            {% for Grupo in grupo_lista %}
               <h3> <a href="/crearExamen/"> <b>Grupo: </b> {{Grupo.nombre}} {{Grupo.dni}} </p> </a> </h3>
            {% endfor %}
        <a href="/crearGrupo/">
            <input type="button" value="Crear grupo(s)"/>
        </a>
    </body>
</html>