<!DOCTYPE html>
<html>
    <body>
        <h1> Selecciona banco al que quieres acceder </h1>
            {% for Incorrectas in data.lista_Incorrectas %}
               <h3> <a href="/listaerroneas/{{Incorrectas.dni}}"> <b>Incorrecta: </b> {{Incorrecta.nombre}} </p> </a> </h3>
             {% endfor %}
        <h1> Incorreta a crear </h1>
        <h1>Crea las preguntas que aparecerán en las preguntas que crees a apartir de esta plantilla</h1>
        <h2>Ten en cuenta que mientras más ingreses, mayor variedad tendrán tus preguntas</h2>
        <form  method="POST" action="{% url 'setIncorrectas' %}"> {% csrf_token %} 
        <input type="hidden" name="plantillaid" value="{{data.plantillaid}}" />
        <div>
                <label for="opc1">Incorrecta 1 (Obligatoria):</label>
                <input type="text" id="opc1" name="opc1" required>
        </div>
        
        <div>
                <label for="opc2">Incorrecta 2 (Obligatoria):</label>
                <input type="text" id="opc2" name="opc2" required>
        </div>
        
        <div>
                <label for="opc3">Incorrecta 3 (Obligatoria):</label>
                <input type="text" id="opc3" name="opc3" required>
        </div>
        
        <div>
                <label for="opc4">Incorrecta 4:</label>
                <input type="text" id="opc4" name="opc4">
        </div>
        
        <div>
                <label for="opc5">Incorrecta 5:</label>
                <input type="text" id="opc5" name="opc5">
        </div>
        
        <div>
                <label for="opc6">Incorrecta 6:</label>
                <input type="text" id="opc6" name="opc6">
        </div>
        
        <div>
                <label for="opc7">Incorrecta 7:</label>
                <input type="text" id="opc7" name="opc7">
        </div>
        
        <input type="submit" value="Guardar">
        </form>
    </body>
</html>